:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light-grayish-blue);
    color: var(--very-dark-grayish-blue);
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}

.card {
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 150px auto;
    position: relative;
    width: 320px;
}

.card-image {
    border-radius: 10px 10px 0 0;
    height: 220px;
    object-fit: cover;
    width: auto;
}

.image-info, .profile-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
}

.image-info h2 {
    font-size: 1.2em;
}

.image-info p {
    color: var(--desaturated-dark-blue);
    line-height: 1.7em;
    padding-top: 15px;
}

.profile-container {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}

.profile-image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.profile-text {
    flex: 60%;
    font-size: 0.8em;
    line-height: 2em;
    padding-left: 15px;
}

.profile-text h2, .profile-text p {
    font-size: 1.2em;
}

.profile-text p {
    color: var(--grayish-blue);
}

.share-btn{
    background-color: var(--light-grayish-blue);
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
    width: 32px;
    z-index: 1;
}

.share-btn> svg {
    left: 10px;
    position: relative;
    top: 7px;
}

.share-container {
    align-content: center;
    background-color: var(--very-dark-grayish-blue);
    border-radius: 0 0 10px 10px;
    bottom: 0;
    display: none;
    height: 70px;
    justify-content: center;
    padding-left: 10%;
    position: absolute;
    width:100%;
}

.share-text {
    align-self: center;
    color: var(--grayish-blue);
    padding-left: 5px;
    padding-right: 15px;
}

.share-container h3 {
    color: var(--white);
    font-weight: lighter;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

.share-icons {
    align-self: center;
    display:flex;
    padding-right: 100px;
}


.facebook-btn {
    background-image: url(/images/icon-facebook.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 32px;
    width: 32px;
}

.twitter-btn {
    background-image: url(/images/icon-twitter.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 32px;
    width: 32px;
}

.pinterest-btn {
    background-image: url(/images/icon-pinterest.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 32px;
    width: 32px;
}


@media only screen and (min-width: 800px) {
    .card {
        flex-direction: row;
        height: 300px;
        margin: 300px auto;
        width: 700px;
    }

    .card-image {
        border-radius: 10px 0 0 10px;
        height: auto;
        object-fit: cover;
        width: 300px;
    }

    .share-container {
        background-color: var(--very-dark-grayish-blue);
        border-radius: 0 0 10px 10px;
        border-radius: 10px;
        bottom: 85px;
        display:none;
        height: 60px;
        justify-content: center;
        padding-left: 0;
        position: absolute;
        right: -80px;
        width: 250px;
    }

    .share-container::after {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid var(--very-dark-grayish-blue);
        bottom: -10px;
        content:'';
        margin: auto;
        position: absolute;
    }

    .share-icons {
        padding-right: 0;
    }
}